.root {
    -fx-background-color: #f8fafc;
    -fx-font-family: "Segoe UI";
}

.page-title {
    -fx-font-size: 28px;
    -fx-font-weight: bold;
}

.page-subtitle {
    -fx-font-size: 14px;
    -fx-text-fill: #475569;
}

.primary-button {
    -fx-background-color: #2563eb;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.section-title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}
